ol {
    padding: 10px;
    list-style-type: none;
    background-color:rgb(250, 250, 250);
    width: 25%;
    margin: 0 auto;
}

li {
    text-align:left;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

label {
    color:red;
    font-weight: bold;
    
}