.class {
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: lightpink;
    text-align: center;
    border: 3px solid green;
}

.graphClass {
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: cyan;
    text-align: center;
    border: 3px solid green;

}

#title {
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

#description {
    font-size: small;
    text-align: left;
}

#department_name {
    font-size: medium;
    text-align: left;
}